*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Poppins;
}
html,body{
   width: 100%;
   height: 100%;
}
#man
   {
     height: 100%;
     width: 100%;
    background-color: rgb(255, 255, 255);
  }
#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content:flex-end ;
    gap: 30px;
    padding: 0 30px;
}
#nav h4{
    font-size: 20px;
    font-weight: 600;
}
#nav i
{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
}
#center{
    width: 100%;
    /* background-color: red; */
    padding: 40px 80px;
}
#center h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
}
#center-in{
    height: 200px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}
#center-in p{
     font-size: 20px;
     font-weight: 600;
     line-height: 32px;
}
#right{
      width: 20%;
}
.elem{
    /* background-color: yellow; */
    /* margin: 5px; */
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.elem:hover i{
       opacity: 1;
}
.elem:hover{
    background-color: rgb(205, 206, 206);
}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    height: 35%;
    width: 100%;
    /* background-color: red; */
    background-size: cover;

}
#bottom img{
    background-image: url(7xm.xyz975587.jpg);
    height: 25%;
    width: 80%;
    background-size: cover;
    background-position: 0 25%;

}
